.windowBar {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
  width: 100%;
  vertical-align: middle;
  height: 32px;
  background-color: var(--color-product-training-colour);
  color: #fafafa;
  position: relative;
  z-index: 9999;
}
@media print {
  .windowBar {
    display: none;
  }
}

.windowBar .title {
  text-align: left;
  padding-left: 10px;
  padding-top: 8px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.windowBar .title span {
  font-weight: 400;
  font-size: 0.6em;
  letter-spacing: 0.08em;
}

.windowBar .appButtonsDiv {
  -webkit-app-region: no-drag;
  user-select: initial;
  position: absolute;
  top: 0;
  right: 0;
}

.windowBar .appButtonsDiv .app-button {
  user-select: initial;
  -webkit-app-region: no-drag;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  right: 0;
  height: 32px;
  width: 96px;
  z-index: 9999;
  transition: height, 0.25s, ease-out;
}

.windowBar .appButtonsDiv .app-button div {
  position: relative;
  font-weight: 700;
  width: 32px;
  height: 32px;
  color: #fafafa;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: var(--color-product-training-colour);
  transition: background-color 0.1s ease-in-out;
}

.windowBar .appButtonsDiv .app-button div svg {
  font-size: 16px;
}

.windowBar .appButtonsDiv .app-button div.minimize:hover, .windowBar .appButtonsDiv .app-button div.full:hover {
  background-color: #e9e9e9;
  color: var(--color-academy-text-colour);
}

.windowBar .appButtonsDiv .app-button div.close:hover {
  background-color: red;
}
