
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    font-size: 16px;
    background: var(--color-page-bg);
    color: var(--color-dark);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Open Sans', sans-serif;
    overflow: hidden;
}

html,
body,
#app,
#app > div {
    height: 100%;
}

html body #app {
    height: 100%;
}
